/*
 Theme Name:   Astra Child
 Theme URI:    http://ashholden.com/
 Description:  Astra Child Theme for WooCommerce PDP assessment
 Author:       Ash Holden
 Author URI:   http://ashholden.com/
 Template:     astra
 Version:      1.0.0
 Text Domain:  astra-child
*/
